{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Projeto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="{% static 'js/home.js' %}" defer></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
</head>
<body>  
    <header class="header"> 
        <div id="fundo"></div>
       <!-- Inclui o header -->
        {% include "./navbar/nav.html" %}
    </header>
    <div class="project-details">
        <h2>{{ object.nome }}</h2>  <div class="project-info">
          <p class="info-label">Data de Início:</p>
          <p class="info-value">{{ object.dataInicio }}</p>
    
          <p class="info-label">Data Final:</p>
          <p class="info-value">{{ object.dataFinal }}</p>
          </div>
    
        <p>Descrição:</p>
        <p class="project-description">{{ object.descricao }}</p>

        <!-- ainda falta criar um estilo para esses atributos: -->
        <!-- {{object.responsavel}} 
        {{object.cor}} 
        {{object.tag}} 
        {{object.status_projeto}} 
        {{object.cliente}}
        
     -->
        {{object.tarefas}} 
        <p>Deseja editar seu projeto?</p>
        <button class="btn btn-primary" style="background-color: #3c73b7;" onclick="window.location.href='{% url "editar_projeto" object.pk %}'">Clique aqui</button>


      </div>
   
    <footer>
        <h3>To Project 2024</h3>
        <p>Gerenciando o seu projeto.<p>
    </footer> 
</body>
</html>
